{% extends 'base.html' %}
{% block content %}

<div class="card p-4 shadow">
<h3>Dashboard</h3>

{% if resume %}
    <p>Your resume is ready</p>

    <a href="{% url 'create_resume' %}?next=dashboard" class="btn btn-primary">Edit Resume</a>
    <hr>

    <a href="/view/t1/" class="btn btn-dark">Template 1</a>
    <a href="/view/t2/" class="btn btn-dark">Template 2</a>
    <a href="/view/t3/" class="btn btn-dark">Template 3</a>

{% else %}
    <p>No resume found</p>
    <a href="/create/" class="btn btn-primary">Create Resume</a>
{% endif %}

</div>

{% endblock %}