{% extends 'base.html' %}
{% block content %}

<a href="/dashboard/" class="btn btn-secondary mb-3">← Back</a>

<div class="card p-4 shadow">

<h3>Create / Edit Resume</h3>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ request.GET.next }}">
<!-- ================= BASIC ================= -->
<h5>Basic Information</h5>
{{ form.as_p }}

<!-- ================= EDUCATION ================= -->
<h5 class="mt-4">Education</h5>

{{ edu.management_form }}

<div id="edu-container">
    {% for f in edu %}
    <div class="edu-form border p-3 mb-2 rounded bg-light">
        {{ f.as_p }}
        <button type="button" class="btn btn-danger btn-sm" onclick="removeForm(this, 'edu')">Remove</button>
    </div>
    {% endfor %}
</div>

<button type="button" class="btn btn-primary mb-3" onclick="addForm('edu')">
    + Add Education
</button>

<!-- hidden empty form -->
<div id="edu-empty" style="display:none;">
    {{ edu.empty_form.as_p }}
</div>

<!-- ================= EXPERIENCE ================= -->
<h5>Experience</h5>

{{ exp.management_form }}

<div id="exp-container">
    {% for f in exp %}
    <div class="exp-form border p-3 mb-2 rounded bg-light">
        {{ f.as_p }}
        <button type="button" class="btn btn-danger btn-sm" onclick="removeForm(this, 'exp')">Remove</button>
    </div>
    {% endfor %}
</div>

<button type="button" class="btn btn-primary mb-3" onclick="addForm('exp')">
    + Add Experience
</button>

<div id="exp-empty" style="display:none;">
    {{ exp.empty_form.as_p }}
</div>

<!-- ================= PROJECT ================= -->
<h5>Projects</h5>

{{ proj.management_form }}

<div id="proj-container">
    {% for f in proj %}
    <div class="proj-form border p-3 mb-2 rounded bg-light">
        {{ f.as_p }}
        <button type="button" class="btn btn-danger btn-sm" onclick="removeForm(this, 'proj')">Remove</button>
    </div>
    {% endfor %}
</div>

<button type="button" class="btn btn-primary mb-3" onclick="addForm('proj')">
    + Add Project
</button>

<div id="proj-empty" style="display:none;">
    {{ proj.empty_form.as_p }}
</div>

<!-- ================= SKILLS ================= -->
<h5>Skills</h5>
<input type="text" name="skills" class="form-control" value="{{ request.POST.skills }}"  placeholder="Comma separated skills" value="{{ skills }}">

<br>
<button type="submit" class="btn btn-success w-100">Save Resume</button>

</form>

</div>

<!-- ================= JAVASCRIPT ================= -->
<script>

function addForm(prefix) {

    let totalForms = document.querySelector('[name="' + prefix + '-TOTAL_FORMS"]');

    if (!totalForms) {
        alert("Prefix error: " + prefix);
        return;
    }

    let count = parseInt(totalForms.value);

    let emptyForm = document.getElementById(prefix + '-empty').innerHTML;

    let newForm = emptyForm.replace(/__prefix__/g, count);

    let container = document.getElementById(prefix + '-container');

    container.insertAdjacentHTML(
        'beforeend',
        '<div class="'+prefix+'-form border p-3 mb-2 rounded bg-light">'
        + newForm +
        '<button type="button" class="btn btn-danger btn-sm" onclick="removeForm(this,\''+prefix+'\')">Remove</button>'
        + '</div>'
    );

    totalForms.value = count + 1;
}

function removeForm(button, prefix) {

    let container = document.getElementById(prefix + '-container');

    if (container.children.length > 1) {
        button.parentElement.remove();

        let totalForms = document.querySelector('[name="' + prefix + '-TOTAL_FORMS"]');
        totalForms.value = container.children.length;
    }
}

</script>

{% endblock %}