<div class="container" style="max-width:800px; margin:auto; font-family:Arial; text-align:center;">

    <h2>{{ resume.full_name }}</h2>
    <p>{{ resume.email }} | {{ resume.phone }}</p>

    <hr>

    <h4>About Me</h4>
    <p>{{ resume.summary }}</p>

    <div style="text-align:left;">

        <h4>Education</h4>
        {% for e in resume.educations.all %}
            <p>{{ e.degree }} - {{ e.college }} ({{ e.year }})</p>
        {% endfor %}

        <h4>Experience</h4>
        {% for ex in resume.experiences.all %}
            <p><strong>{{ ex.job_title }}</strong></p>
            <p>{{ ex.company }} | {{ ex.duration }}</p>
            <p>{{ ex.description }}</p>
        {% endfor %}

        <h4>Projects</h4>
        {% for p in resume.projects.all %}
            <p><strong>{{ p.name }}</strong> - {{ p.tech_stack }}</p>
            <p>{{ p.description }}</p>
        {% endfor %}

        <h4>Skills</h4>
        <p>
            {% for s in resume.skills.all %}
                {{ s.name }}{% if not forloop.last %} | {% endif %}
            {% endfor %}
        </p>

    </div>

</div>