<!DOCTYPE html>
<html>
<head>
    <title>Resume Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'dashboard' %}">ResumeBuilder</a>

        <div class="collapse navbar-collapse">

            {% if user.is_authenticated %}

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_resume' 't1' %}">Template 1</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_resume' 't2' %}">Template 2</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_resume' 't3' %}">Template 3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_resume' 't4' %}">Template 4</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_resume' 't5' %}">Template 5</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_resume' 't6' %}">Template 6</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'create_resume' %}?next=dashboard">
                        Edit Resume
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>

            {% else %}

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>

            </ul>

            {% endif %}

        </div>

    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<hr>

<footer class="bg-dark text-white text-center p-3 mt-5">

    <p class="mb-1">
        © 2026 Resume Builder
    </p>

    <p class="mb-1">
        Built by Nilesh Urkude
    </p>
    
    <p class="mb-0">
        Email: nileshburkude@gmail.com   <br>
        GitHub:<a href="https://github.com/UrkudeNilesh" target="_blank">UrkudeNilesh</a><br>
        LinkedIn: <a href="https://www.linkedin.com/in/nilesh-urkude-8ab403210/" target="_blank">Nilesh Urkude</a> <br>
    </p>

</footer>

</body>
</html>